.hello-world {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hello-world__title {
  font-size: 80px;
  color: tomato;
}

.hello-world__text {
  font-size: 32px;
}
